.boxs-product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    border: none;
    &:hover {
        border: none;
    }
}
.box-product {
    border: 1px solid #ccc;

  
  
   
}