.boxs-brands {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;   
}
.box-brands {
    transition: 0.4s;
    &:hover {
        scale: 1.05;
    }
}