.product-data {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 20px;
}
h1 {
   background-clip: text;
   color: transparent;
   background-image: linear-gradient(90deg ,#0284c7 ,   #000 , #0284c7 ,   #000 , #0284c7 );
}